@media (max-width: 768px) {
    .mobile{
        background-color: lightblue;
        font-size: 24px;
    }
    .tablet{
        display: none;
    }
    .laptop{
        display: none;
    }
    .computer{
        display:none
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .mobile{
        display: none;
    }
    .tablet{
        background-color: lightblue;
        font-size: 24px;
    }
    .laptop{
        display: none;
    }
    .computer{
        display:none
    }
}
@media (min-width: 993px) and (max-width: 1200px) {
    .mobile{
        display: none;
    }
    .tablet{
        display: none;
    }
    .laptop{
        background-color: lightblue;
        font-size: 24px;
    }
    .computer{
        display:none
    }
}
@media (min-width: 1201px) and (max-width: 1400px) {
    .mobile{
        display: none;
    }
    .tablet{
        display: none;
    }
    .laptop{
        display: none;
    }
    .computer{
        background-color: lightblue;
        font-size: 24px;
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg-color: white;
    --snd-bg-color: lightblue;
    --trd-ba-color: gold;
    --text-color: black;
    --main-color: blue;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color)
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}



.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background: var(--main-color);
    backdrop-filter: blur;
    transition: all 0.5s ease;
}

.logo {
    font-size: 3rem;
    color: var(--bg-color);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.navbar{
    display: flex;
}
.navbar ul {
    display: flex;
    list-style: none;
    font-size: 1.9rem;
    color: var(--snd-bg-color);
    margin-left: 6rem;
    font-weight: bold;
    transition: 0.3s ease;
    
}

.navbar a:hover,
.navbar a.active {
    color: var(--text-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--bg-color);
}





.home {
    display: flex;
    align-items: center;
}

.home-img img {
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    animation: floatImage 3s ease-in-out infinite;
    transition: 0.3s ease;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 45px var(--main-color)
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content {
    margin-left: 5rem;
}

.home-content h3 {
    font-size: 3.7rem;
    font-weight: bold;
}



span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 6rem;
    font-weight: bold;
    line-height: 1.3;
}

.home-content p1 {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem;
    transition: 0.3s ease;
}

.social-media a:hover {
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: 0.1rem;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn:hover {
    box-shadow: 0 0 1.6rem var(--main-color);
}





.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: lightblue;
}

.about-img img {
    width: 25vw;
    border: 2px solid var(--main-color);
    border-bottom:  50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.5s ease;
}

.about-img img::backdrop {
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 45px var(--main-color);
}

.heading {
    font-size: 6rem;
    text-align: left;
}

.about-content {
    padding: 0 4rem;
}

.about-content h1 {
    text-align: left;
    line-height: 1.2;
    font-weight: bolder;
}

.about-content h3 {
    font-size: 3rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}



.prosummary h2 {
    text-align: center;
    margin-bottom: 5rem;
}

.prosummary-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.prosummary-container-box {
    height: 350px;
    width: 350px;
}

.prosummary-container .prosummary-container-box{
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding: 6rem 2rem 6rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.3rem solid var(--trd-ba-color);
    transition: 0.3s ease;
}

.prosummary-container .prosummary-container-box {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.prosummary-container h3 {
    font-size: 2.6rem;
}

.prosummary-container p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}



.edu h2 {
    text-align: center;
    margin-bottom: 5rem;
}

.edu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.edu-container-box{
    height: 350px;
    width: 350px;
}

.edu-container .edu-container-box{
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding: 6rem 1rem 6rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.3rem solid var(--trd-ba-color);
    transition: 0.3s ease;
}

.edu-container .edu-container-box {
    border-color: var(--main-color);
    transform: scale(1.02);
}


.edu-container h3 {
    font-size: 2.6rem;
}

.edu-container p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}



.award h2 {
    text-align: center;
    margin-bottom: 5rem;
}

.award-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.award-container-box {
    height: 350px;
    width: 350px;
}

.award-container .award-container-box{
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding: 6rem 2rem 6rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.3rem solid var(--trd-ba-color);
    transition: 0.3s ease;
}

.award-container .award-container-box {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.award-container h3 {
    font-size: 2.6rem;
}

.award-container p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}



.hobbies h2 {
    text-align: center;
    margin-bottom: 5rem;
}

.hobbies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.hobbies-container-box {
    height: 350px;
    width: 350px;
}

.hobbies-container .hobbies-container-box{
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding: 6rem 2rem 6rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.3rem solid var(--trd-ba-color);
    transition: 0.3s ease;
}

.hobbies-container .hobbies-container-box {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.hobbies-container h3 {
    font-size: 2.6rem;
}

.hobbies-container p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}





.contact {
    background: var(--bg-color);
}

.contact .heading {
    text-align: center;
}

.contact h2 {
    margin-bottom: 3rem;
    color: var(--main-color);
}

.contact form {
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    border-radius: 0.8rem;
    border: 0.25rem solid var(--main-color);
    margin: 0.7rem 0;
    resize: none;
}

.contact form .input-box input {
    width: 49%;
    margin: 0.7rem 0.35rem;
}

.contact form .btn {
    margin-top: 2rem;
}





.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--snd-bg-color);
}

.footer .social-media {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color)
}

.footer .social-media a {
    font-size: 25px;
    color: var(--trd-ba-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}

.footer .social-media a:hover {
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}

.footer .copyright {
    margin-top: 20px;
    text-align: center;
}